.vscode/**
node_modules/**
src/**
webview/**
test/**
webpack.config.js
tsconfig.json
.gitignore
*.map
dist/**/*.map
dist/**/*.d.ts
dist/src/**
dist/webview/**
**/*.ts
!dist/extension.js
!dist/webview.js
!dist/webview.css
!dist/fonts/**
