.vscode/**
node_modules/**
src/**
webview/**
test/**
showcases/**
wiki/**
webpack.config.js
vite.config.webview.ts
postcss.config.js
vitest.config.ts
tsconfig.json
.gitignore
*.map
dist/**/*.map
dist/**/*.d.ts
dist/src/**
dist/webview/**
**/*.ts
!dist/extension.js
!dist/webview-assets/**
